body {
  font-family: Helvetica;
  text-align: center;
}

.hero {
  background-image: url("../images/the-flatiron-building.png");
  width: 1280px
  height: 720px;
}

.midBanner {
  background-image: url("../images/the-flatiron-building.png");
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
